<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-2.0.xsd
http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">
	<bean id="knifePenner" class="org.river.rbtools.knifepenner.service.impl.KnifePenner" init-method="initialize">
		<property name="sealConfig" value="${knifepenner.pattern.file}"/>
	</bean>
	
	<bean id="stamperService" class="org.river.rbtools.knifepenner.service.impl.StamperServiceImpl" init-method="initialize">
		<property name="sealConfig" value="${knifepenner.pattern.file}"/>
		<property name="sealPatternService" ref="sealPatternService"/>
	</bean>
	
	<bean id="sealPatternService" class="org.river.rbtools.knifepenner.service.impl.SealPatternServiceImpl">
		<property name="sealPatternDao" ref="sealPatternDao"/>
		<property name="patternBaseDir" value="${knifepenner.pattern.basedir}"/>
	</bean>
</beans>