<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%d{yyyy-MM-dd HH:mm:ss}] %-5p [%t] %c{1}.%M(%L) | %m%n" />
		</layout>
	</appender>

	<appender name="File" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="../logs/log.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value=".yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%d{yyyy-MM-dd HH:mm:ss,SSS}] %-5p [%t] %C{1}.%M(%L) | %m%n" />
		</layout>
	</appender>


	<logger name="org.apache">
		<level value="WARN" />
		<appender-ref ref="File" />
	</logger>

	<logger name="org.hibernate">
		<level value="WARN" />
		<appender-ref ref="File" />
	</logger>

	<logger name="org.springframework">
		<level value="WARN" />
		<appender-ref ref="File" />
	</logger>

	<logger name="${package}">
		<level value="DEBUG" />
		<appender-ref ref="File" />
	</logger>

	<root>
		<level value="ERROR" />
		<appender-ref ref="CONSOLE" />
	</root>

</log4j:configuration>